* {
    font-family: sans-serif;
}
body {
    width: 80%;
    color: #F5F4B3;
    background: linear-gradient(#5D4975, black);
    max-width: 1280px;
    margin: auto;
}
header {
    background: #211033;
    color: #F5F4B3;
    overflow: hidden;
}
p {
    text-indent: 1em;
}
h1 {
    font-size: 1.8rem;
    text-align: center;
    color: #FAD8A0;
    background-color: #211033;
    padding: 8px;
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}
h2 {
    font-size: 1.4rem;
    padding-top: 17px;
    text-align: center;
    color: #FAD8A0;
    float: left;
}
h3 {
    font-size: 1.2rem;
    text-align: center;
    color: #FAD8A0;
}
#zen-summary {
    text-align: right;
}
#zen-supporting p {
    line-height: 1.5;
}
abbr {
    font-family: small-caps;
}
#zen-intro {
    height: 500px;
}
#design-archives {
    display: none;
}
li {
    list-style: none;
    margin-bottom: 1em;
    text-align: center;
}
footer {
    background: white;
}
footer a {
    border: 2px solid yellow;
    padding: 0.5em
}